:root {
    --my-primary-color: #169b88;
    --my-primary-color-light: #1aa792;
    --my-primary-color-dark: #128b79;

    --my-secondary-color: #bd8a36;
    --my-secondary-color-light: #d09b43;
    --my-secondary-color-dark: #b18132;

}